certifi
click
eventlet
Flask
Flask-Login
Flask-Session
flask_socketio
gevent
greenlet
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
six
waitress
Werkzeug
wfastcgi
gevent-websocket
gunicorn